body {
  font-family: 'Roboto', sans-serif;
  color: #2e2f42;
  background-color: #fafafa;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-web {
  color: #4d5ae5;
}
.menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.menu a {
  color: #2e2f42;
}
.contacts {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-style: normal;
}
.contacts a {
  color: #434455;
}
.hero-image {
  background-color: #2e2f42;
}
#studio {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
}
.btn-hero {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.list-feature h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.list-feature p {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.portfolio {
  background: #f4f4fd;
}
#portfolio {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.list-portfolio li {
  background: #fff;
}
.list-portfolio h3 {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.list-portfolio p {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.our-portfolio {
  background: #fff;
}
.our-portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.list-our-portfolio h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.list-our-portfolio p {
  color: #434455;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
footer {
  background: #2e2f42;
}
.logo-white {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.text-under {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}
